# default - reNews
PROJECT_NAME=reNews
# default - development or set to production
ENVIRONMENT=development

# ---DATABASE CONFIG---
# Required
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# default - 'db' or set to localhost for local machine
POSTGRES_HOST=localhost
# default - 5432
POSTGRES_PORT=5432


# ---ADMIN SEQURITY---
# Required
JWT_SECRET=
ADMIN_USER=
ADMIN_PASS=
# default - HS256
ALGORITHM=HS256
# default - 60 minutes
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ---AI CONFIG---
# Required
GEMINI_API_KEY=
# default - gemini-3.1-flash-lite-preview
GEMINI_MODEL=gemini-3.1-flash-lite-preview

# ---WORKER CONFIG---
# default - reNews-Reader/2.0 (+https://github.com/andriydread/reNews)
USER_AGENT=reNews-Reader/2.0 (+https://github.com/andriydread/reNews)
# default - 15000, Limit text sent to AI to save tokens
MAX_CONTENT_LENGTH=15000
# default - 30 minutes
WORKER_INTERVAL_MINUTES=30