# reNews config file
# Change it from .env.example to .env

# Database config
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=db
POSTGRES_PORT=5432

# API Key
GEMINI_API_KEY=

# AI model to process articles
GEMINI_MODEL = gemini-3.1-flash-lite-preview

# JWT Secret, insert long random string of characters
JWT_SECRET=

# Credintials to acsess admin dashboard
ADMIN_USER=
ADMIN_PASS=


ENVIRONMENT=production